html, body
	font-size: 16px
	margin: 0
	padding: 0
	background-color: #f5f5f5
	background: url(../img/bg-med.png) no-repeat center center fixed
	background-size: cover
	color: #464646
	@media all and (max-width: $mobile-width)
		background: url(../img/bg-low.png) no-repeat center center fixed
		background-size: cover
	
body, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]
	//font-family: Colaborate-Thin, DejaVu, sans-serif
	font-family: Colaborate-Regular,DejaVu,sans-serif

a
	color: #563D7C
	text-decoration: none
	&:hover
		text-decoration: underline
	
h4
	font-family: Colaborate-Thin, DejaVu, sans-serif

ul
	list-style: none

.pure-form input
	border-radius: 0!important
	box-shadow: none!important
	background-image: none!important
	font-size: 0.9em!important
	+padding-vertical(0.7em!important)

.pure-form input:focus
	border: 1px solid #7e0080!important

.pure-form-aligned 
	.pure-control-group 
		label
			width: 3em

.pure-button
	font-size: 0.9em!important
	+padding-vertical(0.7em!important)
	background-image: none!important
	border-radius: 0!important
	background-color: #A379A3
	color: white
	font-size: 0.8em
	&:active
		background-color: #be8dbe

.chemis-green-button
	background-color: #66a268
	color: white

.chemis-blue-button
	background-color: #667fa2
	color: white

.chemis-red-button
	background-color: #a2666a
	color: white